---
interface Props {
  overviewText: string | undefined;
}
const { overviewText } = Astro.props;
---

<section class="overview">
  <h3>Overview</h3>
  <p>
    {overviewText}
  </p>
</section>

<style lang="scss">
  .overview {
    text-align: left;
    
    h3 {
      padding-bottom: 30px;
    }
    p {
      padding-bottom: 30px;
    }
  }
</style>
