---
interface Props {
  color: string;
}

const { color } = Astro.props;
---

<div class={"color-block"} style={`background-color: ${color};`}>
  <span class="color-name">{color}</span>
</div>

<style>
  .color-block {
    position: relative;
  }

  .color-block:nth-of-type(1) {
    grid-area: large-block;
  }
  .color-block:nth-of-type(2) {
    grid-area: small-block-1;
  }
  .color-block:nth-of-type(3) {
    grid-area: small-block-2;
  }
  .color-block:nth-of-type(4) {
    grid-area: small-block-3;
  }
  .color-block:nth-of-type(5) {
    grid-area: small-block-4;
  }
  .color-name {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: white;
    font-weight: 700;
    font-size: 24px;
  }
</style>
