---
interface Props {
  overviewText: string | undefined;
}
const { overviewText } = Astro.props;
---

<section class="overview">
  <h3>Overview</h3>
  <p>
    {overviewText}
  </p>
</section>

<style lang="scss">
  .overview {
    width: 100%;
    // text-align: left;
    padding: 0 200px;
    // TODO: width 100% padding 0 200px to match footer section / maby wrapper?
    
    h3 {
      padding-bottom: 30px;
    }
    p {
      max-width: 50%;
      padding-bottom: 30px;
    }
  }
</style>
