---
import type { TechnologiesListType } from "@types";
import ProjectTechIcon from "./project-tech-icon";

interface Props {
  technologies: TechnologiesListType | undefined;
}

const { technologies } = Astro.props;
---

<section class="technologies">
  <h3>Technologies</h3>
  <ul class="tech-row">
    {technologies?.map((tech) => <ProjectTechIcon tech={tech} />)}
  </ul>
</section>

<style lang="scss">
  .technologies {
    width: 100%;
    // text-align: left;
    padding: 0 200px;

    h3 {
      padding-bottom: 30px;
    }
  }
  .tech-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
</style>
