---
import type { TechnologiesListType } from "@types";

interface Props {
  technologies: TechnologiesListType | undefined;
}

const { technologies } = Astro.props;
---

<section class="technologies">
  <h3>Technologies</h3>
  <ul class="tech-row">
    {
      technologies?.map((tech) => (
        <li class="tech-component">
          <img
            class="tech-icon"
            src={`/assets/${tech.img}`}
            alt={`${tech.title} logo`}
          />
          <p>{tech.title}</p>
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  .technologies {
    width: 100%;
    // text-align: left;
    padding: 0 200px;

    h3 {
      padding-bottom: 30px;
    }
  }
  .tech-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  .tech-component {
    text-align: center;
    list-style: none;
    padding-right: 20px;
  }
</style>
