---
interface Props {
  title?: string;
}
const { title } = Astro.props;
---

<section class="hero">
  <h1>{title}</h1>
</section>

<style lang="scss">
  .hero {
    padding-top: 150px;
  }
  h1 {
    font-size: calc(100vw * 0.035);
    text-align: center;

    > div {
      padding-top: 20px;
    }
  }
</style>
