---
interface Props {
  title: string | undefined;
}
const { title } = Astro.props;
---

<section class="hero">
  <h1>{title}</h1>
</section>

<style lang="scss">
  .hero {
    padding: 150px 0;
  }
  h1 {
    font-size: 80px;
    text-align: center;

    > div {
      padding-top: 20px;
    }

    @media screen and (max-width: 1060px) {
        font-size: calc(100vw * 0.1);
      }
  }
</style>
