---
import ProjectColorBlock from "./project-color-block.astro";

interface Props {
  colors: string[] | undefined;
}
const { colors } = Astro.props;
---

<section class="colors">
  <h3>Colors</h3>
  <div class="colors-grid">
    <ProjectColorBlock color={colors ? colors[0] : "red"} />
    <ProjectColorBlock color={colors ? colors[1] : "red"} />
    <ProjectColorBlock color={colors ? colors[2] : "red"} />
  </div>
</section>

<style lang="scss">
  .colors {
    width: 100%;

    h3 {
      padding-bottom: 90px;
    }
    .colors-grid {
      display: grid;
      grid-template-columns: 400px 200px;
      grid-template-rows: 200px 200px;
      grid-template-areas:
        "large-block small-block-1"
        "large-block small-block-2";
      gap: 20px;

      @media screen and (max-width: 850px) {
        grid-template-columns: 200px 200px;
        grid-template-rows: 400px 200px;
        grid-template-areas:
          "large-block large-block"
          "small-block-1 small-block-2"
      }
    }
  }
</style>
