<section class="about">
  <h2>About</h2>
  <p>Hi, my name is Bartek Mazur.</p>
  <p>
    I am a builder, a craftsman. I’m not creative. I choose not to be. I can
    appreciate a beautiful work, design, art and I want to build it. For me a
    crafting process is to choose perfect tools for the job, clean the
    environment and start solving problems. No need for drama and burnout.
  </p>
  <p>If you are precise in knowing what you want to build, I’m your man.</p>
</section>
