<section class="about">
  <h2>About</h2>
  <p>Hi, my name is Bartek Mazur.</p>
  <p>
    I have a passion for transforming ideas into exceptional digital
    experiences. With a keen eye for design and a dedication to detail, I bring
    websites to life through thoughtful development. Efficiency and
    problem-solving are at the core of my approach. If you have a clear vision
    for your web project, I'm here to turn it into a reality.
  </p>
</section>

<style lang="scss">
  .about {
    text-align: center;

    h2 {
      font-weight: 700;
      font-size: 80px;
      padding-bottom: 100px;

      @media screen and (max-width: 1060px) {
        font-size: calc(100vw * 0.1);
        padding-bottom: 50px;
      }
    }
    p {
      max-width: 700px;
      text-align: justify;
      padding-bottom: 30px;
      font-size: 24px;
    }
  }
</style>
