---
---

<footer class="contact">
  <h2>Let's connect</h2>
  <div class="contact-wrapper">
    <div class="contact-column contact-email">
      <h3>Contact</h3>
      <ul>
        <li>trafficap@gmail.com</li>
      </ul>
    </div>
    <div class="contact-column contact-social">
      <h3>On the web</h3>
      <ul>
        <li>LinkedIn</li>
        <li>Github</li>
        <li>Discord</li>
      </ul>
    </div>
  </div>
  <div class="contact-copy">
    <p>
      © Bartek Mazur - made with <a
        href="https://astro.build/"
        target="_blank"
        rel="noopener noreferrer">Astro v2</a
      > and <a
        href="https://reactjs.org/"
        target="_blank"
        rel="noopener noreferrer">React</a
      >
    </p>
  </div>
</footer>

<style lang="scss">
  .contact {
    padding: 200px;
    width: 100%;
  }

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-bottom: 100px;
  }

  .contact-column {
    padding: 50px 0;

    h3 {
      padding: 20px 0;
    }
    ul {
      list-style: none;

      li {
        padding: 10px 0;
      }
    }
  }

</style>
