---
---

<section class="hero">
  <h1>
    <div>i'M A</div>
    <div class="">FREELANCE</div>
    <div>WEB DEVELOPER</div>
    <div>CRAFTiNG</div>
    <div>MEANiNGFUL</div>
    <div>WEBSiTES</div>
    <div>MADE FOR</div>
    <div>HUMANS.</div>
  </h1>
</section>

<style lang="scss">
    .hero {
        padding-top: 150px;
    }
  h1 {
    font-size: calc(100vw * 0.035);
    text-align: center;

    > div {
      padding-top: 20px;
    }
  }
</style>
