---
---

<section class="hero">
  <h1>
    <div>i'M A</div>
    <div class="">FREELANCE</div>
    <div>WEB DEVELOPER</div>
    <div>CRAFTiNG</div>
    <div>MEANiNGFUL</div>
    <div>WEBSiTES.</div>
  </h1>
</section>

<style lang="scss">
    .hero {
        margin-top: 150px;
    }
  h1 {
    font-size: 110px;
    text-align: center;

    > div {
      line-height: 1.2;
    }

    @media screen and (max-width: 1060px) {
      font-size: calc(100vw * 0.1);
    }
  }
</style>
