---
import ProjectList from "@components/projectList";
import { projectsData } from "@data/projects";
---

<section class="projects">
  <h2>Projects</h2>
  <p>
    Explore my featured projects, each crafted with purpose and precision. From
    innovative features to seamless user experiences, I bring ideas to life
    through React and its Meta Frameworks. Whether it's testing components,
    writing documentation, or developing backend infrastructure with Express, I
    ensure every project is meticulously executed.
  </p>
  <ProjectList projects={projectsData} />
  <a href="https://github.com/mazurcodes" target="_blank"
    >And more on the <span>GitHub</span></a
  >
</section>

<style lang="scss">
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;

    h2 {
      font-weight: 700;
      font-size: 80px;
      padding-bottom: 100px;

      @media screen and (max-width: 1060px) {
        font-size: calc(100vw * 0.1);
        padding-bottom: 50px;
      }
    }
    p {
      max-width: 700px;
      text-align: justify;
      padding-bottom: 30px;
      font-size: 24px;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      padding: 50px 0;
      margin: 50px 0;
    }

    span {
      text-decoration: underline;
    }
  }
</style>
