<div class="section-divider">
    <div class="divider-line"></div>
</div>

<style lang="scss">
    .divider-line {
        margin: 200px;
        height: 1px;
        width: 300px;
        background-color: black;
    }
</style>