---
interface Props {
  large?: boolean;
}
const { large } = Astro.props;
---

<div class="section-divider">
  <div class={`divider-line ${large && 'large'}`}></div>
</div>

<style lang="scss">
  .section-divider {
    display: flex;
    justify-content: center;

    padding: 200px 0;
    width: 100%;

    @media screen and (max-width: 1060px) {
        padding: 100px 0;
      }
  }
  .divider-line {
    height: 1px;
    width: 300px;
    background-color: rgb(218, 218, 218);
  }

  .divider-line.large {
    width: 100%;
  }
</style>
