---
import "../styles/global.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Wannabe</title>
  </head>
  <body>
    <div class="wrapper-main">
      <slot />
    </div>
  </body>
</html>

<style lang="scss">
  .wrapper-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
</style>
